server:
  port: 8080

spring:
  datasource:
    username: postgres
    password: DSfdP_32
    url: jdbc:postgresql://localhost:5432/postgres
    driver-class-name: org.postgresql.Driver
  security:
    basic:
      enabled: false
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

app:
  statistics:
    enabled: true